.logo-section {
	background-image: url("../assets/images/buddha\ 1.svg");
}

.title {
	text-align: center;
	display: flex;
	justify-content: center;
	font-size: x-large;
	color: #43b0b9;
	font-family: "Poetsen One";
	margin-top: 30px;
}

.text {
	text-align: center;
	font-family: "Dosis";
	font-weight: 700;
	font-size: 1.1rem;
}

.allText {
	text-align: center;
	padding: 10px 30px 30px;
}
.button {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}
.button-instructions {
	background: linear-gradient(90deg, #43b0b9, #24777e);
	color: white;
	font-family: "Poetsen One";
	font-weight: 100;
	font-size: 1.5rem;
	padding: 1rem 2rem;
	border: none;
	border-radius: 2rem;
	width: 15rem;
	height: 5rem;
	box-shadow: 2px 6px 3px -2px #969696;
	bottom: 0;
	margin-bottom: 1rem;
}
.button-SOLO {
	background: linear-gradient(90deg, #f5e966, #f6bb54);
	color: white;
	font-family: "Poetsen One";
	font-weight: 100;
	font-size: 1.5rem;
	padding: 1rem 2rem;
	border: none;
	border-radius: 2rem;
	width: 15rem;
	height: 5rem;
	box-shadow: 2px 6px 3px -2px #969696;
	bottom: 0;
	margin-bottom: 1rem;
}
.button-MULTI {
	background: linear-gradient(90deg, #f59080, #f37ba9);
	color: white;
	font-family: "Poetsen One";
	font-weight: 100;
	font-size: 1.5rem;
	padding: 1rem 2rem;
	border: none;
	border-radius: 2rem;
	width: 15rem;
	height: 5rem;
	box-shadow: 2px 6px 3px -2px #969696;
	bottom: 0;
	margin-bottom: 1rem;
}
