@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poetsen+One&display=swap');

.section-instruction{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10%;
}

.h2-instructions {
    font-family: poetsen one;
    font-weight: 100;
    color: #43B0B9;
    cursor: pointer;
}

.h3-instructions {
    font-family: poetsen one;
    font-weight: 100;
}

.paragraph-instructions{
    /* width: 90%; */
    font-family: dosis;
    font-weight: 600;
    text-align: center;
    width: 60%;
    overflow: scroll;
}

#solo{
    color: #DE9C28;
}

#many{
    color: #FCA599;
}

.button-instructions{
    background: linear-gradient(90deg, #43B0B9, #24777E);
    color: white;
    font-family: 'Poetsen One';
    font-weight: 100;
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    width: 10rem;
    box-shadow: 2px 6px 3px -2px #969696;
    margin-top: 10%;
    cursor: pointer;
}

.sample-sound{
    font-family: var(--primary-font);
}