@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Poetsen+One&display=swap');


.section-multi{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-multi{
    width: 45%;
    margin: 10% 0;
}

.play{
    background: linear-gradient(#DE9C28, #EDA72E, #D2911F);
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px white solid;
    border-radius: 50%;
    height: 45vh;
    justify-content: center;
    box-shadow: 0px 0px 15px 2px #969696;
    animation: growAndShrink 2.5s infinite;
    border: 1px solid white;

}

.h2-multi{
    font-family: poetsen one;
    margin: 5px;
    transform: rotate(-4deg);
    color: white;
    text-shadow: 2px 2px 5px #606060;
    font-size: 2rem;
    font-weight: 100;
    
}

.button-multi{
    background: linear-gradient(90deg,#43B0B9, #24777E);
    color: white;
    font-family: 'Poetsen One';
    font-weight: 100;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    width: 12rem;
    box-shadow: 2px 6px 3px -2px #969696;
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
    cursor: pointer;
}

@keyframes growAndShrink {
    
  0% {
      width: 75%;
      height: 45vh;
      font-size: 2rem;
    }
    50% {
      width: 80%;
      height:47vh;
      font-size: 2.5rem;

    }
    100% {
      width: 75%;
      height: 45vh;
      font-size: 2rem;

    }
  }
  
  @media (min-width: 1000px) {
    .play {
      margin-top: 5vh;
      animation: growAndShrinkDesktop 2.5s infinite; /* Changed animation name */
  
    }
  
    @keyframes growAndShrinkDesktop {
      0% {
        width: 25%;
        height: 40vh;
        font-size: 2rem;
      }
      50% {
        width: 28%;
        height: 45vh;
        font-size: 2.5rem;
      }
      100% {
        width: 25%;
        height: 40vh;
        font-size: 2rem;
      }
    }
  }
  