@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

input {
    background-color: #F6BB54;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: -5px 7px 15px -8px rgba(78, 78, 78, 0.62);
}

input::placeholder {
    color: white;
    font-family: Poetsen One;

}

input:focus {
    font-family: Poetsen One;
    color: white;
}

.submit-btn {
    background-color: #F6BB54;
    color: white ;
    font-family: Poetsen One;
    border: none;
    padding: 10px 6px 10px 6px;
    border-radius: 10px;
    box-shadow: -5px 7px 15px -8px rgba(78, 78, 78, 0.62);
    cursor: pointer;


}